.primary-color{ background-color: #AC9742 !important; }
.secondary-color{ background-color: #D2D868 !important; }

.fullwidthimage{ width: 100%; }

.logo{
    width: 125px;
}

.flexspace{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.white-link,
.white-link:link,
.white-link:visited{
  text-decoration: inherit !important;
  color: white;
  margin: 0 .7rem;
}

.footer{
  padding: 30px 0;
}

.spinner{
  display: block !important;
  margin: 20px auto;
  color: #AC9742 !important;
}